<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pleiades.pleione.slotgallery">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/label_application"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.setting.SettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true" />

        <activity
            android:name=".presentation.choice.ChoiceActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!--        <activity-->
        <!--            android:name=".ui.media.MediaActivity"-->
        <!--            android:configChanges="orientation|screenSize|keyboardHidden"-->
        <!--            android:exported="true" />-->

        <!--        <activity-->
        <!--            android:name=".ui.media.video.VideoActivity"-->
        <!--            android:configChanges="orientation|screenSize|keyboardHidden"-->
        <!--            android:exported="true"-->
        <!--            android:theme="@style/AppTheme.Dark">-->
        <!--        </activity>-->

        <!--        <activity-->
        <!--            android:name=".ui.media.video.ExternalVideoActivity"-->
        <!--            android:configChanges="orientation|screenSize|keyboardHidden"-->
        <!--            android:exported="true"-->
        <!--            android:theme="@style/AppTheme.Dark">-->

        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.VIEW"/>-->
        <!--                <category android:name="android.intent.category.DEFAULT"/>-->
        <!--                <category android:name="android.intent.category.BROWSABLE"/>-->
        <!--                <data android:mimeType="video/*"/>-->
        <!--                <data android:scheme="content"/>-->
        <!--                <data android:scheme="file"/>-->
        <!--                <data android:scheme="http"/>-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
    </application>

    <queries>
        <package android:name="com.niksoftware.snapseed" />
    </queries>

</manifest>
